// Partials
@import "_fonts.scss";
@import "_colors.scss";
@import "_singleProject.scss";
@import "_studentDashboard.scss";

*{
  color: $sky-white;
  font-family: $font-primary;
}
body{
  background-color: $light-black;
  overflow-y: scroll;
  max-width: 100%;
  overflow-x: hidden;
}
#navigation-bar{
  background-color : $bristol-red;
  height: 100px;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
  img {
    max-height: 100%;
    height: 40px;
    margin-top: 25px;
    margin-left: 50px;
    float: left;
  }
  .navigation-items{
    a{
      text-decoration: none;
    }
    float: right;
    span{
      text-transform: uppercase;
      color: $sky-white;
      line-height: 100px;
      margin-right: 50px;
      font-family: $font-primary;
      font-weight: 300;
      letter-spacing: 3px;
      font-size: 0.75em;
      padding: 0.5em 1em;
      border: 2px solid $bristol-red;
      &:hover{
        cursor: pointer;
        cursor: hand;
        color: $dark-black;
      }
    }
    .router-link-active > span {
      border: 2px solid $sky-white;
      transition-duration: 0.25s !important;
      &:hover{
        cursor: pointer;
        cursor: hand;
        color: $dark-black;
        border: 2px solid $dark-black;
      }
    }
  }
}
#app{
  *{
    transition: all 0.35s;
  }
  .tag-container{
    display: inline-block;
    .tag{
      display: inline-block;
      padding: 0.4em 0em;
      width: 6em;
      border-radius: 8px;
      font-size: 0.7em;
      text-transform: uppercase;
      font-family: $font-primary;
      color: $sky-white;
      margin-right: 5px;
      text-align: center;
      transition: 0s all !important;
    }
    .orange{
      background-color : $tag-orange;
    }
    .lime{
      background-color: $tag-lime;
    }
    .php-purple{
      background-color: $tag-purple;
    }
    .pink{
      background-color: $tag-pink;

    }
    .baby-blue{
      background-color: $tag-babyBlue;
      width: 5em;
    }
  }

  .applicants{
    background-color: $transparent;
    border: 1px solid $dark-grey;
    color: $dark-grey;
    border-radius: 7px;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
    margin-left: 0.75em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
  .project-list-item-applicants {
    font-family: $font-primary;
    color: $sky-white;
    font-size: 0.7em !important;
    font-weight: 400;
    text-transform: uppercase;
    color: $dark-grey;
    letter-spacing: 1px;
  }

  .fade-enter, .fade-leave-to
  { opacity: 0; }
  .loader{
    text-align: center;
    color: $sky-white;
    font-family: $font-primary;
    position: relative;
    height: calc(100vh - 130px);
    .spinner {
      width: 50px;
      height: 40px;
      text-align: center;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 20px;
      margin: -30px 0 0 -35px;
    }

    .spinner > div {
      background-color: $sky-white;
      height: 100%;
      width: 6px;
      display: inline-block;

      -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
      animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s;
    }

    .spinner .rect3 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    .spinner .rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s;
    }

    .spinner .rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s;
    }

    @-webkit-keyframes sk-stretchdelay {
      0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
      20% { -webkit-transform: scaleY(1.0) }
    }

    @keyframes sk-stretchdelay {
      0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
      }  20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
      }
    }
  }

  // animates sorting
  .sort-list-move{
    transition: transform 0.5s !important;
  }
  .sort-list-enter, .sort-list-leave-to
  /* .sort-list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
  transition-duration: 0.25s;
}
.sort-list-leave-active {
  position: absolute;
}
// direct child, hence '>' combinator

#filter-bar{
  margin: 0 50px 2.5em;
  h1{
    font-family: $font-primary;
    color: $sky-white;
    font-size: 1.25em !important;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0.5em 0;
    margin-bottom: 0px;
  }
  button{
    background: none;
    padding: 0.5em 2.5em 0.5em 1em;
    border: 2px solid $sky-white;
    color: $sky-white;
    font-family: $font-primary;
    font-weight: 300;
    border-radius: 0px 0px 0px 0px;
    transition-duration: 0.25s !important;
    &:hover{

    }
    &:focus{
      outline: 0;
      border: 2px solid $bristol-red;
    }
    span{
      transition: 0s !important;
      transition: color 0.25s ease !important;
    }
  }
  .wrapperSearch:after{
    font-family: 'FontAwesome';
    position: relative;
    left: -25px;
    content: "\f002";
    font-size: 0.9em;
    color: $sky-white;
  }
  .wrapperFilter:after{
    font-family: 'FontAwesome';
    position: relative;
    left: -25px;
    content: "\f0b0";
    font-size: 0.9em;
    color: $sky-white;
  }
  .wrapperDown:hover{
    cursor: pointer;
    cursor: hand;
    color: $bristol-red;
    button{
      cursor: pointer;
      cursor: hand;
      color: $bristol-red;
      border: 2px solid $bristol-red;
    }
  }
  .wrapperDown:after{
    font-family: 'FontAwesome';
    position: relative;
    left: -25px;
    content: "\f063";
    font-size: 0.9em;
  }
  .wrapperUp:hover{
    cursor: pointer;
    cursor: hand;
    color: $bristol-red;
    button{
      cursor: pointer;
      cursor: hand;
      color: $bristol-red;
      border: 2px solid $bristol-red;
    }
  }
  .wrapperUp:after{
    font-family: 'FontAwesome';
    position: relative;
    left: -25px;
    content: "\f062";
    font-size: 0.9em;
  }
  .wrapperUp, .wrapperDown, .wrapperSearch, .wrapperFilter{
    display: inline-block;
    font-size: 0.9em;
  }
  .wrapperFilter{
    input{
      width: 12.5em;
      font-family: $font-secondary;
    }
  }
  .wrapperSearch{
    input{
      width: 5.5em;
      font-family: $font-secondary;
    }
  }
  .wrapperUp, .wrapperDown{
    button{
      width: 8.25em;
      font-family: $font-secondary;
    }
  }
  input{
    margin-left: -0.5em;
    background: none;
    padding: 0.5em 2em 0.5em 1em;
    border: 2px solid $sky-white;
    color: $sky-white;
    font-family: 'FontAwesome',$font-primary;
    text-transform: uppercase;
    font-weight: 300;
    transition-duration: 0.25s !important;

    &:hover{
      cursor: pointer;
      cursor: hand;
      color: $bristol-red;
      border: 2px solid $bristol-red;
    }
    &:focus{
      outline: 0;
      border: 2px solid $bristol-red;
    }
    &::placeholder{
      color: $light-grey;
      text-transform: none;
    }
  }
}
.project-list-item{
  background-color: $sky-white;
  overflow:auto;
  margin: 0 50px 2em;
  .project-list-item-image{
    float: left;
    display: inline-block;
    width: 350px;
    height: 375px;
  }

  .project-list-item-content{
    display: inline-block;
    float: right;
    width: calc(100% - 450px);
    height: 100%;
    padding: 35px 50px 35px 50px;

    h1{
      font-family: $font-primary;
      font-size: 1.75em;
      font-weight: 600;
      letter-spacing: 1px;
      color: $dark-black;
      margin-bottom: 0.5em;
    }
    p{
      font-family: $font-secondary;
      font-size: 0.75em;
      line-height: 1.5em;
      color: $light-grey;
      margin-bottom: 1.5em;
    }
    hr{
      margin-top: 1.5em;
    }

    .project-list-item-id {
      line-height: 1em;
      float: right;
      display: block;
      font-family: $font-primary;
      font-size: 1.75em;
      color: $dark-black;
    }
    .project-list-item-license{
      display: inline-block;
      float: left;
      p{
        display: inline-block;
        margin-top: 1.3em;
        font-family: $font-primary;
        color: $light-grey;
        font-weight: 300;
        font-size: 0.9em;
        padding-bottom: 0.5em;
        margin-left: 1em;
      }
      img{
        vertical-align: middle;
        height: 20px;
        display: inline-block;
      }
    }
    .learn-more-btn{
      display: inline-block;
      float: right;
      border: 3px solid $bristol-red;
      border-radius: 18px;
      color: $dark-black;
      padding: 0.75em 1.75em;
      letter-spacing: 1px;
      font-family: $font-primary;
      text-transform: uppercase;
      font-size: 0.8em;
      margin-top: 1em;
      transition-duration: 0.25s !important;
      &:hover{
        background-color: $bristol-red;
        color: $sky-white;
        cursor: pointer;
        cursor: hand;
      }
    }
  }
}
}
#selections-page{
  #box-selections > .selection{
    background: $sky-white;
    padding: 1em 0em;
    width: 100px;
    margin: 1em;
    color: $dark-black;
    text-align: center;
  }
}

#inner-dropzone {
  height: 100px;
}

.dropzone {
  background-color: $light-grey;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 900px;
  transition: background-color 0.15s;
  text-align: center;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: $dark-black;
  border-color: $sky-white;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  width: 800px;
  padding: 2em 0.5em;
  text-align: center;
  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: $bristol-red;
}


#selections-page{
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  .draggable{
    -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  }
}

@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
{
  .project-list-item-image{
    width: 400px !important;
    height: 410px !important;
  }
  .project-list-item-content{
    width: calc(100% - 500px) !important;
  }
}
