// main: styles.scss
@import "_colors";
@import "_fonts";

.back{
  width: 100vw;
  background: url("../img/hero.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center top;
  button{
    background: $bristol-red;
    padding: 1em 2em;
    border: 1px solid $bristol-red;
    color: $sky-white;
    font-family: $font-primary;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 5px;
    transition-duration: 0.25s !important;
    text-transform: uppercase;
    &:hover{
      cursor: pointer;
      cursor: hand;
      background: none;
      border-color: $bristol-red;
    }
    &:focus{
      outline: 0;
      border: 1px solid $bristol-red;
    }
    span{
      transition: 0s !important;
      transition: color 0.25s ease !important;
    }
  }
  .right{
    margin-left: 0.5em;
    background-color: $bristol-red;
    border-color: $bristol-red;
    &:hover{
      border-color: $sky-white;
    }
  }
}

.text{
  float:left;
  width: 50%;
  box-sizing:border-box;
}

#login {
  margin-top: 40px;
	margin-bottom: 15px;
	text-align: center;
	position: relative;
}

/*inputs*/
#login input, #login textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 5px;
	width: 55%;
	box-sizing: border-box;
	font-family: montserrat;
	color: $light-black;
	font-size: 13px;
	background-color: #EEE;
}

.registration{
  float:right;
  margin-top: 200px;
  margin-bottom: 100px;
  border-radius: 5px;
  box-sizing:border-box;
  color: $dark-grey;
  position: relative;
  background-color: #eee;
  width: 400px;
  transition: all 0.3s ease;
  button{
    background-color: $bristol-red;
    &:hover{
      cursor: hand;
      cursor: pointer;
    }
  }
  h2{
    color: $dark-grey;
    margin: 1.5em;
    font-size: 1em;
    font-weight: 400;
    font-family: $font-primary;
    text-transform: uppercase;
  }
  h3{
    color: $dark-black;
        font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  h4{
    color: $bristol-red;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
  }
}

#register{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  position: relative;
  button{
    font-size: 16px;
    background-color: $bristol-red;
    width: 100%;
  }
}

#register input, #register textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 15px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: $light-black;
	font-size: 16px;
	background-color: #eee;
}

#register select, #register option {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  padding: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: montserrat;
  color: $light-black;
  font-size: 16px;
  background-color: #eee;
  padding: 10px;
}

#register select{
  -webkit-appearance: menulist;
}

// .dropdown::after{
//   content: "";
//   display: inline-block;
//   border: 5px solid $dark-black;
//   border-bottom: 4px solid transparent;
//   border-right: 4px solid transparent;
//   border-left: 4px solid transparent;
//   position: absolute;
//   top: 14.5em;
//   left: 8em;
// }

#type option {
  font-family: $font-primary;
}

#clientFields {

  margin: 0;
}


.leftField{
  float:left;
  width: 50%;
  text-align: center;
}
