// main: styles.scss
@import "_colors";
@import "_fonts";

.back{
  width: 100vw;

  background: url("../img/hero.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center top;
  button{
    background: $bristol-red;
    padding: 1em 2em;
    border: 1px solid $bristol-red;
    color: $sky-white;
    font-family: $font-primary;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 5px;
    transition-duration: 0.25s !important;
    text-transform: uppercase;
    &:hover{
      cursor: pointer;
      cursor: hand;
      background: none;
      border-color: $bristol-red;
    }
    &:focus{
      outline: 0;
      border: 1px solid $bristol-red;
    }
    span{
      transition: 0s !important;
      transition: color 0.25s ease !important;
    }
  }
  .right{
    margin-left: 0.5em;
    background-color: $bristol-red;
    border-color: $bristol-red;
    &:hover{
      border-color: $sky-white;
    }
  }
}

.text{
  float:left;
  width: 50%;
  box-sizing:border-box;
}

#login {
  margin-top: 40px;
	margin-bottom: 15px;
	text-align: center;
	position: relative;
}

/*inputs*/
#login input, #login textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 5px;
	width: 55%;
	box-sizing: border-box;
	font-family: montserrat;
	color: $light-black;
	font-size: 13px;
	background-color: #EEE;
}

.registration{
  float:right;
  margin-top: 200px;
  margin-bottom: 100px;
  border-radius: 5px;
  box-sizing:border-box;
  color:#fefefe;
  position: relative;
  text-shadow: 0 1px 2px rgba(0,0,0,0.20);
  background-color: rgba(51,51,51, 0.4);
  button{
    background: none;
    &:hover{
      background-color: $bristol-red;
    }
  }
  &:hover{
    background-color: rgba(51,51,51, 0.8);
  }
  h2{
    margin: 1.5em;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.20);
  }
  h3{
    font-size: 10px;
    text-align: left;
    margin-left: 2em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  h4{
    font-size: 7px;
    text-align: left;
    margin-left: 3em;
  }
}

#register{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  position: relative;
  button{
    margin-top: 20px;
    font-size: 10px;
  }
}

#register input, #register textarea {
	padding: 10px;
  max-width: 300px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 5px;
	width: 80%;
	box-sizing: border-box;
	font-family: montserrat;
	color: $light-black;
	font-size: 10px;
	background-color: #EEE;
}

#register select, #register option {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  padding: 4px;
  margin-left: 35px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: montserrat;
  color: $light-black;
  font-size: 10px;
  background-color: #EEE;
}

#register select{
  -webkit-appearance: none;
  &:hover{
    background-color: $bristol-red;
    border-color: $bristol-red;
  }
}

// .dropdown::after{
//   content: "";
//   display: inline-block;
//   border: 5px solid $dark-black;
//   border-bottom: 4px solid transparent;
//   border-right: 4px solid transparent;
//   border-left: 4px solid transparent;
//   position: absolute;
//   top: 14.5em;
//   left: 8em;
// }

#type option {
  color: $sky-white;
  background-color: $light-black;
  font-family: montserrat !important;
}

#clientFields {

  margin: 0;
}
#clientFields input{
  max-width: 200px;
}

.leftField{
  float:left;
  width: 50%;
  text-align: center;
}
