// main: styles.scss
@import "_colors";
@import "_fonts";

.hero{
  .start{
  background-color: $bristol-red;
  padding: 1em 2em;
  color: $sky-white;
  border-color: $dark-black;
  font-family: $font-primary;
  font-weight: 500;
  letter-spacing: 2px;
  transition-duration: 0.25s !important;
  text-transform: uppercase;
  &:hover{
    cursor: pointer;
    cursor: hand;
    background: none;
    border-color: $bristol-red;
  }
  &:focus{
    outline: 0;
    border: 1px solid $dark-black;
    background-color: none;
  }
  span{
    transition: 0s !important;
    transition: color 0.25s ease !important;
  }
  }
}


#login {
  margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	position: relative;
}

/*inputs*/
#login input, #login textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 5px;
	width: 50%;
	box-sizing: border-box;
	font-family: montserrat;
	color: $light-black;
	font-size: 13px;
	background-color: #EEE;
}
