// Partials
@import "_fonts.scss";
@import "_colors.scss";
@import "_selectionsList.scss";
@import "_app.scss";
@import "_navigationBar.scss";
@import "_projectsList.scss";
@import "_responsive.scss";
@import "_singleProject.scss";
@import "_homepage.scss";
@import "_students.scss";
@import "_clientForm.scss";
@import "_startPage.scss";
@import "_allocationPage.scss";

*{
  color: $sky-white;
  font-family: $font-primary;
}
body{
  background-color: $light-black;
  overflow-y: scroll;
  max-width: 100%;
  overflow-x: hidden;
}
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}
.notifyjs-corner{
  margin-top: 7em !important;
}
.notifyjs-bootstrap-success, .notifyjs-bootstrap-removed{
  width: 10em;
  text-align: center;
  background-color: #2ecc71 !important;
  padding: 1em 2em !important;
  background-image: none !important;
  border: none !important;
  border-radius: 0px !important;
  span{
    border: none !important;
    font-family: $font-primary !important;
    font-weight: 600 !important;
    text-shadow: none !important;
  }
}
.notifyjs-bootstrap-removed{
  background-color: #e74c3c !important;
}
