// Partials
@import "_fonts.scss";
@import "_colors.scss";
@import "_selectionsList.scss";
@import "_app.scss";
@import "_navigationBar.scss";
@import "_projectsList.scss";
@import "_responsive.scss";
@import "_singleProject.scss";
@import "_homepage.scss";
@import "_students.scss";
@import "_clientForm.scss";

*{
  color: $sky-white;
  font-family: $font-primary;
}
body{
  background-color: $light-black;
  overflow-y: scroll;
  max-width: 100%;
  overflow-x: hidden;
}
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}
