// Partials
@import "_fonts.scss";
@import "_colors.scss";
@import "_singleProject.scss";
@import "_studentDashboard.scss";
@import "_studentHomepage.scss";
@import "_responsive.scss";
@import "_navigationBar.scss";
@import "_app.scss";

// ALL
*{
  color: $sky-white;
  font-family: $font-primary;
}

// BODY
body{
  background-color: $light-black;
  overflow-y: scroll;
  max-width: 100%;
  overflow-x: hidden;
}

// HYPERLINK
a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}
