$bristol-red    : #c12d34;
$dark-black     : #222222;
$light-black    : #333333;
$sky-white      : #fefefe;
$dark-grey      : #646667;
$light-grey     : #a2a3a5;
$transparent    : rgba(0,0,0,0);

$tag-orange     : #f7941d;
$tag-lime       : #2dc542;
$tag-purple     : #8f75be;
$tag-pink       : #ec008c;
$tag-babyBlue   : #00aeef;